* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}

.header {
  display: flex;
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

.header h1 {
  display: inline-block;
  font-size: 48px;
}

.header h1 .seo {
 color: #d9dcd6;
}

.header div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.header div ul {
  display: flex;
  justify-content: right;
  list-style-type: none;
  display: inline-block;
  margin-left: 25px;
}

.header div ul li {
  display: flex;
  flex-direction: column;
  justify-content: right;
  display: inline-block;
  margin-left: 25px;
}

a {
  display: flex;
  justify-content: right;
  color: #ffffff;
  text-decoration: none;
}

p {
  align-content: stretch;
  font-size: 16px;
  min-width: 300px;
}

.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  display: flex;
  flex-direction: stretch;
  float: right;
  margin-left: 25px;
}

.content {
  display: flex;
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

.benefits {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #2589bd;
}

.benefit-lead {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit-brand {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit-cost {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit-lead h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit-brand h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit-cost h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit-lead img {
  flex-shrink: 1 0 0;
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.benefit-brand img {
  flex-shrink: 1 0 0;
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.benefit-cost img {
  flex-shrink: 1 0 0;
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.search-engine-optimization {
  margin-bottom: 20px;
  padding: 50px 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.online-reputation-management {
  flex-direction: row-reverse;
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.social-media-marketing {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.search-engine-optimization img {
  display: flex;
  flex-shrink: 1 0 0;
  max-height: 200px;
}

.online-reputation-management img {
  display: flex;
  flex-shrink: 1 0 0;
  max-height: 200px;
}

.social-media-marketing img {
  display: flex;
  flex-shrink: 1 0 0;
  max-height: 200px;
}

.search-engine-optimization h2 {

  margin-bottom: 20px;
  font-size: 36px;
}

.online-reputation-management h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.social-media-marketing h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

.footer h2 {
  font-size: 20px;
}